.row
  .col-md-6.offset-md-3
    %h1 Sign In / Register to Ahhlife
    .my-2
      = image_tag 'mail_sent.gif'

    %h2 An email is on its way
    %p
      We sent an email to <strong>#{@email}</strong>. If you entered the incorrect email no big deal, just hit the back button and try again.

    %p
      The link expires in an hour so make sure to use it soon.

    %p
      %strong Go check your email!!!
