.more-info
  :markdown
    Looking for help? Obie Fernandez of [Kickass Consulting](http://kickass-consulting.com)
    has been the foremost industry expert on Ruby on Rails development for over 10 years.
    Rails is a core skill for each developer at Kickass Consulting and we'd love to take a look at your project.
    [Contact us today](mailto:sales@kickass-consulting.com) and find out how we can help you.
