.more-info
  :markdown
    Looking for help? Obie Fernandez of [Kickass Consulting](http://kickass-consulting.com)
    has been one of the most sought-after Ruby experts worldwide for over 10 years.
    Ruby is one of our core languages at Kickass Consulting and we'd love to take a look at your project.
    [Contact us today](mailto:sales@kickass-consulting.com) and find out how we can help you.
